.canvas-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.editor {
    display: none;
    background-color: rgb(212, 212, 212);
}

.meme-editor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 7px;
    justify-items: center;
    /* background-color: #003865; */
    padding: 10px;
    border-radius: 4px;
    
}

.editor .meme-editor img {
    /* max-width: 50px; */
    width: 60px;
    height: 60px;
    object-fit: cover;
    background-color: rgb(251, 246, 246);
    padding: 10px;
    border-radius: 10px;
}

.editor .meme-editor .btn {
    cursor: pointer;
    width: 60px;
    height: 60px;

}

.editor .meme-editor .line-input {
    grid-column: 1/ -1;
    width: 100%;
    margin-bottom: 22px;
    border-radius: 10px;
    font-size: 28px;
    padding: 5px;
}

.editor .meme-editor .switch-lines {
    grid-column: 2;
    grid-row: 2;
}

.editor .meme-editor .add-line {
    grid-column: 3;
    grid-row: 2;
}

.editor .meme-editor .remove-line {
    grid-column: 4;
    grid-row: 2;
}

.editor .meme-editor .increase-font {
    grid-column: 1;
    grid-row: 3;
}

.editor .meme-editor .decrease-font {
    grid-column: 5;
    grid-row: 3;
}

.editor .meme-editor .align-left {
    grid-column: 2;
    grid-row: 3;
}

.editor .meme-editor .align-center {
    grid-column: 3;
    grid-row: 3;
}

.editor .meme-editor .align-right {
    grid-column: 4;
    grid-row: 3;
}

.editor .meme-editor .set-font {
    grid-column: 2;
    grid-row: 4;
    width: 100px;
    border-radius: 10px;
}

.editor .meme-editor .stroke-color {
    grid-column: 3;
    grid-row: 4;
}

.editor .meme-editor .font-color {
    grid-column: 4;
    grid-row: 4;
}

.editor .meme-editor .move-up {
    grid-column: 1;
    grid-row: 4;
}

.editor .meme-editor .move-down {
    grid-column: 5;
    grid-row: 4;
}

.editor .meme-editor .download {
    grid-column: 3;
    grid-row: 5;
    margin-top: 15px;

}

.color-input {
    display: none;
    grid-column: 4;
    grid-row: 4;
}