@font-face {
    font-family: AlfaSlabOne;
    src: url(/fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
    font-family: RammettoOne;
    src: url(/fonts/RammettoOne-Regular.ttf);
}

@font-face {
    font-family: Staatliches;
    src: url(/fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
